.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
}

.subtitle {
  font-size: 35px;
  border: 1px solid black;
  box-shadow: 4px 4px 2px black;
  padding: 5px 10px;
}

.quizInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  margin: 15px;
  padding-left: 15px;
}
